.container{
        margin-bottom: 40px;
         
            
        .card{
            --bs-card-spacer-y: 1rem;
            --bs-card-spacer-x: 1rem;
            --bs-card-title-spacer-y: 0.5rem;
            --bs-card-border-width: 2px;
            --bs-card-border-color: brown;
           // --bs-card-border-radius: 23px;
            --bs-card-cap-padding-y: 0.5rem;
            --bs-card-cap-padding-x: 1rem;
            margin-bottom: 20px;
            height: 100%;
            // width: 230px;
            // height: 250px;
            background-color: transparent;
            
            .card-img-top{
                
                
            }
            

            .card-body{

                padding: 2px;
                
                .card-title{
                    padding-bottom: 10px;
                    }
                
                .logo-holder{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    
                   

                    .logos{
                        display: flex;
                        max-width: 25px;
                    
                        

                    }
                
                }

                
            

            }
        }  
}

footer{
    display: flex;
    justify-content: center;
    
    p a i{
        color: black;
        font-size: 23px;
        margin-left: 6px;
    }
        
    
}

