.container{
        margin-bottom: 40px;
         
            
        .row .col .card{
            --bs-card-spacer-y: 2rem;
            --bs-card-spacer-x: 1rem;
            --bs-card-title-spacer-y: 0.5rem;
            --bs-card-border-width: 2px;
            --bs-card-border-color: brown;
            --bs-card-border-radius: 23px;
            --bs-card-cap-padding-y: 0.5rem;
            --bs-card-cap-padding-x: 1rem;
            margin-bottom: 20px;
            
            .card-img-top{
                border-top-right-radius: 20px;
                border-top-left-radius: 20px; 
                
            }
            

            .card-body{
                
                .logo-holder{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    

                    .logos{
                        display: flex;
                        max-width: 25px;
                    
                        

                    }
                }
                
            }
            

        }
        }  


        footer{
            display: flex;
            justify-content: center;
            
            p a i{
                color: black;
                font-size: 23px;
                margin-left: 6px;
            }
                
            
        }

