.skill{
    
    padding: 20px 0 50px 0;
    position: relative;
    width: 100%;
    .about{
        margin: auto;
        width: 75%;
        position: relative;
        margin-bottom: 12%;
    }
    .img-container{
        gap: 2%;
    }
    .tool{

    }
}