.main {
  // background-color: #EDEDE5;
 
  .navbar-expand .navbar-nav .nav-link{
    color: grey !important;
  }
  .navbar-expand .navbar-nav .nav-link:active{
    color: black !important;
    background-color: floralwhite;
  }

  .nav-link{
    margin-bottom: 0;
    color: grey;
    margin-right: 10px;
    background-color: inherit;
    margin-left: 10px;
    transition: ease-in 0.2s;
  }

  
}
