.custom-tabs {


.nav-item{
  
  

  
  .nav-link {
    color: rgb(7, 5, 5); 
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 10px;
    

}    
    
    
}
.nav-link.active {
  color: white;
  background-color: #cb72c2; 
  
}


}
  