
#techstack{
    
    // h1{
    //     margin-bottom: 20px;
        
    // }
    

    .img-container{
        gap: 1.5%;
        display: flex;
        margin: 0 10px 0 10px;
    
        .img-holder{
            padding: 8px;

            .icon{
                width: 60px;
                height: auto;
            }
            .caption{
                color: rgb(0, 0, 0) !important;
                font-size: 10px;
            }
        }
        
    }

}

