
.page-number{
    font-family:Georgia, 'Times New Roman', Times, serif;
    opacity: 35%;
  }
#techstack{
  background: linear-gradient(336deg, #ffd6ca, #f6b4ef, #eaafcc, #f6e2d3) !important;
  padding-top: 18rem;
  padding-bottom: 18rem;
 

    .img-container{
        gap: 1.5%;
        display: flex;
        margin: 0 10px 0 10px;
    
        .img-holder{
            padding: 8px;

            .icon{
                width: 60px;
                height: auto;
            }
            .caption{
                color: rgb(0, 0, 0) !important;
                font-size: 10px;
            }
        }
        
    }

}

