.body {
  background: linear-gradient(336deg, #ffd6ca, #f6b4ef, #eaafcc, #f6e2d3) !important;
  font-family: FeFCrm2;
    
    .hi, .intro{
      color: #fffaf0;
      display: flex;
      justify-content: center;
    }

    
    
    .custom-text{
      font-family: FeFCrm2;
      color: #ff316b;
      display: flex;
  }

}


@media (max-width: 640px){
  .body{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .custom-text{
    display: flex;
    align-items: center;
  }
}