.about{
    
    padding: 20px 0 50px 0;
    position: relative;
    width: 100%;
    .intro{
        margin: auto;
        width: 75%;
        position: relative;
        margin-bottom: 12%;
    }
    .about-page{
        margin-bottom: 60px;
    }

}

