
// #about{

    

//     .about-paragraph{
//         margin: auto;
//         width: 60%;
//         position: relative;
        
//     }
    
// }

.img-holder{
    
    background-color: floralwhite;
    border-radius: 10px;
    border: 1px solid #ffca28;
    margin-bottom: 4px;
}