#nav{
  position: fixed;
  
}
  
  .navbar-expand .navbar-nav .nav-link{
    color: grey !important;
  }
  .navbar-expand .navbar-nav .nav-link:active,
  .navbar-expand .navbar-nav .nav-link:hover{
    color: white !important;
    background: linear-gradient(336deg, pink, #f2a3f2)  !important;

  }
  