
#techstack{
    
    // h1{
    //     margin-bottom: 20px;
        
    // }

    .img-container{
        gap: 2%;
        display: flex;
        margin: 0 10px 0 10px;
    
        .img-holder{
            padding: 8px;

            .icon{
                width: 80px;
                height: 100px;
            }
            .caption{
                color: grey !important;
            }
        }
        
    }

}

