.tab-content {
    //color: #000 !important;  
    

    .custom-text{
      font-family: FeFCrm2;
      color: #Ff3131;
      //color: #ffc107;
      font-size: 100px;
      line-height: 6rem;
      

      
      

    .text-container{
      
    }  

    
  }

}


@media (max-width: 768px) {
  .text-container{
    display: flex;

    .custom-text {
      font-size: 80px;
    }
    }
  }

// @media (max-width: 576px){
    
//   .custom-text {
//     font-size: calc(font-size - 40px);
//   }
    
//   }
