.tab-content {
    color: #000 !important;  
    

    .custom-text{
      padding-left: 50px;
      padding-right: 50px;
      text-decoration: none;
      position: relative;
      left: 80px;
      

      a{
        text-decoration: none;
      }

      #name{
        color: #Ff3131;
        font-size: 50px;
      }

    .text-div{
      
      position: relative;
      top: -154px;
      text-align: left;
    }  

    
  }

}


@media (min-width: 768px) {
    .custom-text {
      float: left;
    }
  }

@media (max-width: 576px){
    
      .text-div{
        left: -24px;

      }
    
  }
